<div class="container">
  <div class="row" style="margin-top:40px; margin-bottom:20px">
    <div class="col-4">
      <div class=" row image-container" style="margin-bottom: 10px;">
          <img [src]="userImage" id="imgProfile" class="user-image img-thumbnail"/>
      </div>
      <div class="row">
        <h5>{{user.firstName}} {{user.lastName}}</h5>
      </div>
      <div class="row">
        <p><span class="fa fa-envelope" style="margin-right: 10px"></span></p>
        <p>{{user.email}}</p>
      </div>
      <div class="row">
          <p><span class="fa fa-map-marker" style="margin-right: 10px"></span></p>
          <p>{{user.address}}</p>
      </div>
    </div>
    <div class="col-8">
      <ngb-tabset (tabChange) = "tabChange($event)">
        <ngb-tab title="Current reservations" id="currentReservations">
            <ng-template ngbTabContent>
              <div class="reservations-list">
                <div *ngFor="let reservation of currentReservations" class="list-group-item clearfix reservation">
                  <div class="reservation-left">
                    <div class="hotel-img"><img src="https://t-ec.bstatic.com/images/hotel/max1024x768/412/41215540.jpg"/></div>
                  </div>
                  <div class="reservation-main">
                    <h5 class="reservation-name">
                      {{reservation.accommodationName}}
                      <span style="text-align: right; float: right;">{{reservation.beginningDate | date: 'M/d/yy'}} - {{reservation.endDate | date: 'M/d/yy'}}</span>
                    </h5>
                    <div class="reservation-info">
                        <div class="info"><span class="">Room type:</span> {{reservation.accommodationUnitName}}</div>
                    </div>
                    <div class="reservation-info">
                        <div class="info"><span class="">Final price: </span>RSD {{reservation.finalPrice}}</div>
                    </div>
                    <div>
                      <button style="text-align: center; float: right;" type="button" class="btn btn-info btn-sm col-2">Cancel</button>
                    </div>
                  </div>
                </div><!-- item -->
              </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Past reservations" id="accomodationCategory">
            <ng-template ngbTabContent>
                <div class="reservations-list">
                  <div *ngFor="let reservation of pastReservations" class="list-group-item clearfix reservation">
                    <div class="reservation-left">
                      <div class="hotel-img"><img src="https://t-ec.bstatic.com/images/hotel/max1024x768/412/41215540.jpg"/></div>
                    </div>
                    <div class="reservation-main">
                      <h5 class="reservation-name">
                        {{reservation.accommodationName}}
                        <span style="text-align: right; float: right;">{{reservation.beginningDate | date: 'M/d/yy'}} - {{reservation.endDate | date: 'M/d/yy'}}</span>
                      </h5>
                      <div class="reservation-info">
                          <div class="info"><span class="">Room type:</span> {{reservation.accommodationUnitName}}</div>
                      </div>
                      <div class="reservation-info">
                          <div class="info"><span class="">Final price: </span>RSD {{reservation.finalPrice}}</div>
                      </div>
                      <div>
                          <button style="text-align: center; float: right;" type="button" (click)="open2(content2, reservation)" class="btn btn-info btn-sm col-2">Rate</button>
                          <button style="text-align: center; float: right; margin-right:10px;" type="button" (click)="open1(content1, reservation)" class="btn btn-info btn-sm col-2">Comment</button>
                        </div>
                    </div>
                  </div><!-- item -->
                </div>
              </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>

<!-- Modal dialog with the comment -->
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Leave a comment</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="commentForm" [formGroup] = "commentForm" (ngSubmit) = "postComment()">
      <div class="form-group">
          <label for="comment" class="form-control-label">Comment:</label>
          <textarea class="form-control" id="comment" formControlName="comment" rows="3"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" form="commentForm" [disabled]="!commentForm.valid">Post</button>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
</div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h5 class="modal-title">How would you rate your stay?</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="ratingForm" [formGroup] = "ratingForm" (ngSubmit) = "postRating()">
      <div class="form-group">
          <label for="rating" class="form-control-label">Rating:</label>
          <select class="form-control" id="rating" formControlName="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" form="ratingForm" [disabled]="!ratingForm.valid">Post</button>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
</div>
</ng-template>


