<!--Table with comments-->
<div class="container">
  <div>
    <h3 style="margin-top:50px; margin-bottom:20px">Comments</h3>
  </div>
  <div >
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comment of commentsList; index as i">
            <td>{{i}}</td>
            <td>{{comment.user.email}}</td>
            <td>{{comment.date | date: 'short'}}</td>
            <td>
                <div *ngIf="comment.commentState === 'NOT_REVIEWED'">Not Reviewed</div>
                <div *ngIf="comment.commentState === 'UNPUBLISHED'">Unpublished</div>
                <div *ngIf="comment.commentState === 'PUBLISHED'">Published</div>
            </td>
            <td><button type="button" (click)="open(content, comment)" class="btn btn-outline-info btn-sm">Show</button></td>
            <td>
              <button type="button" class="btn btn-sm" [ngClass]="comment.commentState === 'PUBLISHED' ? 'btn-outline-danger' : 'btn-outline-success'" (click)="comment.commentState === 'PUBLISHED' ? editComment(comment,false) : editComment(comment,true)">
                  <div *ngIf="comment.commentState === 'UNPUBLISHED' || comment.commentState === 'NOT_REVIEWED'">Publish</div>
                  <div *ngIf="comment.commentState === 'PUBLISHED'">Unpublish</div>
              </button>
            </td>
            <td>
              <button *ngIf="comment.commentState === 'NOT_REVIEWED'" type="button" class="btn btn-sm btn-outline-danger" (click)="editComment(comment, false)">
                <div>Unpublish</div>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination
      [(collectionSize)]="collectionSize"
      [(page)] = "page"
      [(pageSize)]="pageSize"
      [boundaryLinks]="true"
      style="float:right"
      (pageChange)="onPageChange(page)">
      </ngb-pagination>
    </div>
  </div>
</div>

<!-- Modal dialog with the comment -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Comment details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5>
        User: {{currentComment.user.email}}<br/>
        Date: {{currentComment.date | date: 'short'}}<br/>
        Content: "{{currentComment.value}}"
      </h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" [ngClass]="currentComment.commentState === 'PUBLISHED' ? 'btn-outline-danger' : 'btn-outline-success'" (click)="currentComment.commentState === 'PUBLISHED' ? editComment(currentComment,false) : editComment(currentComment,true)">
        <div *ngIf="currentComment.commentState === 'UNPUBLISHED' || currentComment.commentState === 'NOT_REVIEWED'">Publish</div>
        <div *ngIf="currentComment.commentState === 'PUBLISHED'">Unpublish</div>
      </button>
      <button *ngIf="currentComment.commentState === 'NOT_REVIEWED'" type="button" class="btn btn-outline-danger" (click)="editComment(currentComment, false)">
        <div>Unpublish</div>
      </button>

      <button type="button" class="btn btn-info" (click)="modal.close()">
        Close
      </button>

  </div>
</ng-template>
